<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon-96x96.png">
<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
<link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#5bbad5">
<link rel="manifest" href="/assets/images/site.webmanifest">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

<!-- Cookie Consent Banner -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    palette: {
      popup: {
        background: "#000000",
        text: "#ffffff"
      },
      button: {
        background: "#00fbff",
        text: "#ffffff"
      }
    },
    theme: "classic",
    position: "bottom",
    type: "opt-in",
    content: {
      message: "We use cookies to improve your experience. You can accept or decline.",
      dismiss: "Decline",
      allow: "Accept",
      link: "Learn more",
      href: "/privacy/"
    },
    onInitialise: function (status) {
      if (this.hasConsented()) {
        loadGoogleAnalytics();
      }
    },
    onStatusChange: function(status) {
      if (this.hasConsented()) {
        loadGoogleAnalytics();
      }
    }
  });
});

function loadGoogleAnalytics() {
  // Google Analytics code only loads if consent given
  var script1 = document.createElement('script');
  script1.async = true;
  script1.src = "https://www.googletagmanager.com/gtag/js?id=G-JYZXEG3WMC";
  document.head.appendChild(script1);

  script1.onload = function() {
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-JYZXEG3WMC');
  };
}
</script>
<!-- End Cookie Consent Banner -->
