{%- assign overlay_color = page.header.overlay_color | default: site.header.overlay_color -%}
{%- assign overlay_image = page.header.overlay_image | default: site.header.overlay_image -%}
{%- assign overlay_filter = page.header.overlay_filter | default: site.header.overlay_filter -%}
{%- assign image = page.header.image | default: site.header.image -%}

{%- if overlay_image or image -%}
  <section class="page__hero page__hero--overlay"
    {% if overlay_image %} style="background-image: url('{{ overlay_image }}');"{% endif %}>
    <span class="page__hero__bg"></span>
    <span class="page__hero__overlay" style="background-color:{{ overlay_color | default: '#000' }}; opacity:{{ overlay_filter | default: '0.5' }}"></span>
    {# No title, excerpt, or buttons! #}
  </section>
{%- endif -%}
