---
layout: null
---
{% comment %}
  We’re using layout: null so we can pull in exactly
  the pieces we want—masthead, hero image, content.
{% endcomment %}

{% include skip-links.html %}
{% include masthead.html %}

<div class="page__hero page__hero--splash">
  <div class="page__hero--overlay"
       {% if page.header.overlay_image %}
         style="background-image: url('{{ page.header.overlay_image }}');"
       {% endif %}>
  </div>
</div>

<main class="main">
  <div class="container">
    {{ content }}
  </div>
</main>

{% include footer.html %}
