---
layout: default
---
{% include skip-links.html %}
{% comment %}
  We intentionally do NOT include masthead.html here,
  so no nav/logo repeats on the splash.
{% endcomment %}

<div class="page__hero page__hero--splash">
  <div class="page__hero--overlay"
       {% if page.header.overlay_image %}
         style="background-image: url('{{ page.header.overlay_image }}');"
       {% endif %}>
    {%- comment -%}
      Removed:
      <h1 class="page__title">{{ page.title }}</h1>
      <p class="page__lead">{{ page.excerpt }}</p>
      <ul class="splash__actions">…</ul>
    {%- endcomment -%}
  </div>
</div>

<div class="container">
  {{ content }}
</div>

{% include footer.html %}
